

.market{
  width: 100%;
  margin-top: 20px;
}
.market-list__item{
  color:#000;
  margin-bottom: 20px;
  padding: 0;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
}
.market-title{
  padding-top: 70px;
  padding-bottom: 75px;
  text-align: center;
  background: #252525;
  color:#fff;
}
.title{
  margin: auto;
  color:#fff;
  font-weight: 400;
  font-size: 32px;
}
.desc{
  margin: auto;
  font-size: 14px;
  max-width: 600px;
  text-align: center;
}
.columns{
  width: 100%;
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}
.columns-list{
  display: flex;
}
.columns-list li{
  padding: 10px 0 20px 20px;
  font-weight: 600;
  font-size: 16px;
}
.columns-list li:first-child{
  padding-left: 0;
}
.columns-rating{
  margin-left: 100px;
}
.columns-description{
  margin-left: 220px;
}
.columns-price{
  margin-left: 260px;
}
.market-list__item p:not(:first-child){
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}
.offer-project{
  font-weight: 700;
  font-size: 18px;
  width: 100px;
  padding-bottom: 0;
}
.offer-rating{
  margin-left: 84px;
}
.offer-description{
  margin-left: 120px;
  width: 350px;
}
.offer-price{
  width: 200px;
  margin-left: 70px;
}
.offer-button_btn{
  padding: 5px 15px;
  background: #000;
  border:1px solid #000;
  color:#fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  transition: all 0.2s;
}
.offer-button_btn:hover{
  background: #fff;
  color:#000;
}
.offer-favorites img{
  height: 25px;
  cursor: pointer;
}
.offer-favorites{
  margin-left: 2.5%;
}
.market-list__item a{
  margin-left: auto;
}
@media (max-width: 1025px){

  .header{
    width: 960px;
  }
  .columns{
    padding-left: 60px;
  }
  .market-list__item{
    padding-left: 60px;
  }
  .columns-description{
    margin-left: 150px;
    
  }
  .offer-price{
    margin-left: 0;
  }
  .offer-description{
    width: 200px;
  }
  .columns-price{
    margin-left: 110px;
  }
  .market-list__item a{
    margin-left: 50px;
  }
}
@media (max-width: 769px){

  .header{
    width: 760px;
  }
  .columns{
    padding-left: 60px;
  }
  .market-list__item{
    padding-left: 60px;
  }
  .columns-description{
    margin-left: 50px;
  }
  .offer-price{
    width: 150px;
    margin-left: 70px;
  }
  .offer-description{
    width: 100px;
    margin-left: 70px;
  }
  .columns-price{
    margin-left: 110px;
  }
  .market-list__item a{
    margin-left: 50px;
  }
  .columns-rating{
    margin-left: 20px;
  }
  .offer-rating{
    margin-left: 5px;
  }
}
@media (max-width: 426px){
  .header{
    width: 300px;
    margin: 0;
  }
  .columns{
    padding-left: 60px;
  }
  .market-list__item{
    padding-left: 60px;
  }
  .columns-description{
    margin-left: 50px;
  }
  .offer-price{
    width: 150px;
    margin-left: 70px;
  }
  .offer-description{
    width: 100px;
    margin-left: 70px;
  }
  .columns-price{
    margin-left: 110px;
  }
  .market-list__item a{
    margin-left: 50px;
  }
  .columns-rating{
    margin-left: 20px;
  }
  .offer-rating{
    margin-left: 5px;
  }
}
