.overlay1{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.overlay1.active{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.modalLogin1{
  border-radius: 9px;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  max-width: 570px;
  background-color: #fff;
  padding: 40px;
  width: 400px;
}

.modalTitle1{
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 10px;
}
.formInput1{
  display: flex;
  flex-direction: column;
}
.modalInput1{
  border-radius: 4px;
  height: 38px;
  padding: 6px 15px;
  font-size: 0.928571429em;
  display: block;
  width: 100%;
  height: 42px;
  padding: 8px 15px;
  font-size: 1em;
  line-height: 1.42857143;
  color: #292929;
  background-color: white;
  background-image: none;
  border: 1px solid #E5E5E5;
  margin: 10px 0;
}
.regbtn1{
  width: 100%;
  cursor: pointer;
  margin-top: 30px;
  height: 50px;
  padding: 0 12px;
  font-size: 20px;
  outline: none;
  color:#292929;
  background: #fff;
  border: 1px solid #292929;
  transition: all 0.2s;
  border-radius: 4px;
}
.regbtn1:hover{
  background: #292929;
  color:#fff;
}